.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    color: var(--black);
  }
 .message {
    font-size: 24px;
    padding-bottom: 40px;
  }
  
  .cats-image {
    padding-top: 72px;
    padding-left: 24px;
    padding-bottom: 24px;
  }
  