.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black-lighter);
  color: var(--black);
}

.loadingMessage {
  font-size: 24px;
  padding-bottom: 48px;
}

.catsImage {
  padding-left: 24px;
}
