.button-style {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.modal-wrapper {
  padding: 3rem 0;
  border-radius: 1rem;
  background-color: white;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-description {
  font-size: 5rem;
  padding: 0 36px;
}

.modal-selection-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 3rem;
}

.selection-button {
  flex-grow: 1;
}

.modal-row {
  display: flex;
  align-items: center;
}
