.welcome-style {
  /* welcome */
  composes: buttonstyle from '../Button/index.module.css';
  border: 1px solid var(--white) !important;
  color: var(--black) !important;
  font-weight: 400 !important;
}

