.welcome-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.boss-cat {
  position: absolute;
  background-color: transparent;
  bottom: 4%;
  left: 4%;
}

.maru-cat {
  position: absolute;
  background-color: transparent;
  bottom: 4%;
  left: 24%;
}

.sikaku-cat {
  position: absolute;
  background-color: transparent;
  bottom: 4%;
  left: 48%;
}

.download-button {
  position: absolute;
  top: 16px;
  right: 16px;
}
