.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--black);

  button {
    margin-top: 32px;
  }
}

.title-text {
  align-self: center;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.ranking-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-bottom: 48px;
  border: 8px solid var(--blue);
  border-radius: 8px;
}

.image {
  position: absolute;
  right: 24px;
  bottom: 150px;
}
