.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  color: var(--black);
}

.title {
  font-size: 16px;
  margin-bottom: 24px;
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cats-image {
  padding-left: 24px;
  margin-top: 32px;
}
