.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  color: var(--black);
}

.loading-message {
  font-size: 24px;
  padding-bottom: 48px;
}
