:root {
  --black: #080000;
  --black-lighter: #e4e4e4;
  --gray: #f5f5f5;
  --white: #fff;
  --redorange: #ff8957;
  --yellow: #ffdf00;
  --blue: #005192;
  --green: #aae190;
  --brown: #b99075;

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #080000;

  /* background-color: var(--grey); */
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 12px;
  margin: 0;
}

footer {
  position: absolute;
  right: 4%;
  bottom: 2.5%;
}

a {
  font-size: 12px;
  color: var(--blue);
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  z-index: calc(infinity);
}
