:root {
  --black: #080000;
  --black-lighter: #e4e4e4;
  --gray: #f5f5f5;
  --white: #fff;
  --redorange: #ff8957;
  --yellow: #ffdf00;
  --blue: #005192;
  --green: #aae190;
  --brown: #b99075;

  background-color: var(--gray);
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #080000;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

footer {
  width: 100%;
  height: 32px;
  position: absolute;
  text-align: right;
  right: 16px;
  bottom: 12px;
}

a {
  font-size: 12px;
  background-color: transparent;
}
