body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kirikae-tab {
    width: 100%;
    padding: 24px 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.kirikae-tab input[type="radio"] {
    display: none !important; 
}

.tab-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px; 
}

.tab-style {
    display: inline-block;
    padding: 12px 20px 6px 20px;
    cursor: pointer;
    border-radius: 50px 50px 0 0;
    color: var(--black);
    background-color: var(--redorange);
    text-align: center;
    margin-right: 20px;
}

.tab-style:hover {
}

input[type="radio"]:checked + label.tab-style {
    background-color: #fff;
    border-bottom: 1px solid transparent;
    z-index: 1;
    
}

.tab-content {
    padding: 20px;
    background-color: var(--redorange);;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 8px;
    width: 100%;
}

.tab-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#login:checked ~ .tab-content-wrapper #login-content {
    display: block;
    background-color: var(--redorange);
    
}

#signup:checked ~ .tab-content-wrapper #signup-content {
    background-color: var(--brown:);
}

#login:checked ~ .tab-content-wrapper {
    background-color: var(--redorange);
}

#signup:checked ~ .tab-content-wrapper {
    background-color: var(--brown:);
}
