.modal-wrapper {
    padding: 24px 0;
    border-radius: 8px;
    background-color: white;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  
  .modal-description {
    font-size: 18px;
    padding: 0 36px;
    text-align: center;
  }
  
  .modal-selection-wrapper {
    display: flex;
    width: 100%;
    margin-top: 24px;
    justify-content: center;
  }
  
  .selection-button {
    flex-grow: 1;
  }
  